.App {
  text-align: center;
}

button{
  width: 80px;
  height: 40px;
  margin: 15px;
}

.blackButton{
  background-color: black;
  color: white;
}

.redButton{
  background-color: red;
  color: black;
}
div[disabled] {
  pointer-events: none;
  opacity: 0.5;
}


